<h3>Authentication</h3>
<label for="tb-username">Username:</label>
<input type="text" id="tb-username"/>
<label for="tb-password">Password:</label>
<input type="password" id="tb-password"/>
<button id="btn-login" class="btn btn-primary">LOGIN</button>
<button id="btn-register" class="btn btn-primary">REGISTER</button>