
    <fieldset>
        <div id="legend">
            <legend class="">Add todo</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="tb-todo-title">Title</label>
            <div class="controls">
                <input type="text" id="tb-todo-title" name="username" placeholder="" class="input-xlarge">
                <p class="help-block">Special name of todo</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="tb-todo-category">Category</label>
            <div class="controls">
                <input type="text" id="tb-todo-category" name="email" placeholder="" class="input-xlarge">
                <p class="help-block">Category of todo</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="tb-todo-date">Date</label>
            <div class="controls">
                <input type="text" id="tb-todo-date" name="password" placeholder="" class="input-xlarge">
                <p class="help-block">Which date</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="tb-todo-time">Time</label>
            <div class="controls">
                <input type="text" id="tb-todo-time" name="password_confirm" placeholder="" class="input-xlarge">
                <p class="help-block">Insert time for todo</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button id="btn-add-todo" class="btn btn-success">Add</button>
            </div>
        </div>
    </fieldset>